.navbar {
  margin: 16px 0;
}

/* .collapse {
  justify-content: space-between;
} */
.navbar .container-fluid {
  max-width: var(--content-width);
}

.container-fluid .navbar-brand .logo {
  height: 26px;
  padding-right: 25px;
}

.navbar .text-link {
  padding: 8px 25px;
  cursor: pointer;
  font-size: var(--font-size);
}

.navbar .text-link.hot-line {
  cursor: inherit;
}

.navbar .text-link.active,
.navbar .text-link:hover:not(.hot-line) {
  color: var(--theme-color);
}

.navbar .text-link.active span {
  border-bottom: 2px solid var(--theme-color);
}

@media(max-width:992px) {
  .navbar-toggler {
    border: none;
    padding: 0;
  }

  .navbar-toggler .expand-icon {
    height: 25px;
  }

  .navbar-toggler .expand-icon:active {
    opacity: 0.2;
  }

  /* 修改下拉背景颜色 */
  #navbarNav {
    position: absolute;
    top: calc(100% + 16px);
    width: 100%;
    background-color: var(--bg-nav-color);
    color: #fff;
    margin: 0 -16px;
    z-index: 999;
  }
}