.target-customer {
  min-height: 265px;
  background-color: var(--bg-target-color);
}
.target-customer .title {
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: var(--title-color);
  font-weight: normal;
}
.target-customer .row .item {
  display: flex;
  height: 135px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--title-color);
  transition: top 0.6s ease;
}
.desc {
  position: absolute;
  top: 130%;
  left: 50%;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: top 0.6s ease;
}

@media (min-width: 768px) {
  .target-customer .row .item:hover .sub-title {
    top: 35%;
  }
  .target-customer .row .item:hover .desc {
    top: 85%;
    opacity: 1;
  }
}
@media (max-width:768px) {
    .desc {
        position: absolute;
        top: 80%;
       
        opacity: 1;
       
      }
}